*.a binary
*.o binary
*.obj binary
*.lib binary
*.elf binary
*.bin binary
*.fwpkg binary
*.exe binary
*.dll binary
*.so binary
*.pdf binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.chm binary
*.emf binary
*.wdp binary
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
